.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.teams {
    display: flex;
    flex-flow: row;
    gap: 20ex;
    justify-content: center;
}
.team {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.owners {
    display: flex;
    flex-flow: row wrap;
    gap: 4ex;
    list-style: none;
}
